<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    <uses-feature-->
    <!--        android:name="android.hardware.telephony"-->
    <!--        android:required="false" />-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneNumber"
        tools:targetApi="31">
<!--        .activity.ViewPagerActivity.NoActionBar-->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PhoneNumber.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--            <meta-data-->
            <!--                android:name="android.app.lib_name"-->
            <!--                android:value="" />-->
        </activity>

        <activity
            android:name=".activity.CanvasClicker"
            android:exported="true"
            android:theme="@style/Theme.PhoneNumber.NoActionBar" />

        <activity
            android:name=".activity.ReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.PhoneNumber.NoActionBar" />

        <activity
            android:name=".activity.CacheFiles.CacheFilesActivity"
            android:exported="true"
            android:theme="@style/Theme.PhoneNumber.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

</manifest>