<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

<!--    <application>-->
<!--        <activity android:exported="true" android:name=".MoreAppsActivity"-->
<!--            android:theme="@style/AppTheme.NoActionBar"/>-->
<!--    </application>-->

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>
